.calendar {
  width: 220px;
  overflow: hidden;
  padding: 12px;
}

.header, .yearSelector {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    padding: 0 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  &__btns {
    display: flex;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.todayButton {
    justify-content: flex-end;
    padding: 10px 8px;
    &:hover {
      color: #51A7EF;
    }
    &:active {
      color: #005A9E;
    }
  }
}

.weekdays, .days, .monthSelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.monthSelector {
  gap: 16px 0;
}

.weekday, .day, .month {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  height: 28px;
  text-align: center;
  cursor: pointer;
}

.month {
  width: calc(100% / 4 - 9px);
  height: 40px;
  &:hover {
    background-color: #F3F2F1;
  }
  &:active {
    background-color: #EDEBE9;
  }
}

.day {
  &:hover {
    background-color: #F3F2F1;
  }
  &:active {
    background-color: #EDEBE9;
  }
  &.selected {
    border-radius: 50%;
    background-color: #51A7EF;
    color: white;
  }
  &.today {
    font-weight: bold;
  }
  &.notCurrentMonth {
    font-weight: 600;
    color: #605E5C;
  }
  
}
